  /* Decorated By https://www.allbloggertricks.com/2017/04/responsive-widget-show-latest-posts-ticker-with-labels-for-blogger.html  */  


#latest_posts .slides:after{
    display: table;
    content: "";
    clear: both;
}

#latest_posts a{
  font-size: 14px!important;
  font-family: 'Oswald', sans-serif!important;
  text-decoration: none;
}

#latest_posts{
    font-family: 'Oswald', sans-serif;
    max-height: 45px;
    height: 45px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px #000; 
    position: fixed;
    width: 100%;
    top: 0px;
  display: grid;
  grid-template-columns: .5fr .5fr 2fr;
  color: #fff!important;
  grid-gap: 5px;
}

.newsTickerHeadWrap{
  width: 80%;
  height: 45px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.directionsBtn{
  grid-column: 2/3;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 45px;
}

#latest_posts_list{
  display: grid;
  grid-template-columns: 1fr;
  height: 45px;
}

.slides{
  height: 45px;
}

.slide{
    display: grid;
   grid-template-columns: .2fr 2fr;
  height: 45px;
  grid-gap: 10px;
}

.slide h3{
  margin: 0px!important;
  align-content: center;
}



@media only screen and (max-width: 1100px){
  #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 80%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 80%!important;}
  #latest_posts .directionsBtn{font-size: 80%!important; left: 14%;}
  #latest_posts .newsTickerHeadWrap{width: 100px;font-size: 70%; text-align: left; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 24%; height: 91%; bottom: 3px; height: 91%; bottom: 3px;}
}

@media only screen and (max-width: 930px){
  #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 80%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 80%!important;}
  #latest_posts .directionsBtn{font-size: 80%!important; left: 15%;}
  #latest_posts .newsTickerHeadWrap{width: 40px;font-size: 70%; text-align: center; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 24%; height: 91%; bottom: 3px;}
}

@media only screen and (max-width: 770px){
      #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 70%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 70%!important;}
  #latest_posts .directionsBtn{display: none; font-size: 70%!important; left: 5%;}
  #latest_posts .newsTickerHeadWrap{text-indent: -99999px; min-width: 20px!important; width: 20px;font-size: 70%; text-align: center; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 8%; height: 91%; bottom: 3px;}
}
    
/* Decorated By https://www.allbloggertricks.com/2017/04/responsive-widget-show-latest-posts-ticker-with-labels-for-blogger.html*/ 
