  /* Decorated By https://www.allbloggertricks.com/2017/04/responsive-widget-show-latest-posts-ticker-with-labels-for-blogger.html  */  
.clear{
    clear:both;
}

#latest_posts .slides:after{
    display: table;
    content: "";
    clear: both;
}

#latest_posts{
    max-height: 50px;
    height: 45px;
    overflow: hidden;
    padding: 5px;
    border: solid #F44A56;font-family:'Helvetica', Arial,sans-serif;box-shadow: 0px 0px 3px 2px #000 inset; 
    position: fixed;
    width: 100%;
    top: 0px;
}

#latest_posts .meta-tags, #latest_posts .newsTickerHeadWrap, #latest_posts .directionsBtn{
    float: left;
    position: absolute;
    min-width: 80px;
    font-size: 80%;
    display: inline-block;
}

#latest_posts .newsTickerHeadWrap{
    width: 14%;
    font-size: 100%;
    text-align: center;
    height:100%;
   padding-top:10px;
}
#latest_posts .newsTickerHeadWrap h2{
    font-size: 100%;
}

#latest_posts .directionsBtn {
    width: 3%;
    left: 18%;
    top: 36%;
    display: inline-block;
    min-width: 50px;
}

#latest_posts .directionsBtn .fa{cursor: pointer;}

#latest_posts .latest_posts_list:after{
    content: "";
    display: inline-block;
    clear: both;
}

#latest_posts ul#latest_posts_list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#latest_posts #latest_posts_list{
    width: 77%;
   display: inline-block; 
    left: 24%;
     height: 100%;
    overflow: hidden;
    float:right;
    position: absolute;
    bottom: 0px;  
    padding: 10px;
}

.slides{
    height: 100%;
}

#latest_posts #latest_posts_list h3{
    position: relative;
    float: left;
    margin-left: 5px;
    font-size: 100%;
    top: 12px;
}

#latest_posts a{
    text-decoration: none;
    transition: all .5s linear;
}

#latest_posts .meta-tags{
    top: 12px;
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

#latest_posts a:hover{
   color: red;
}

#latest_posts .newsTickerHeadWrap {
box-sizing:border-box!important;
background: #F44A56;
position: relative;
color: #fff;
padding-top: 5px;
}

#latest_posts .newsTickerHeadWrap span{ border-left-color: #F44A56;width: 10px;position: absolute;left: 100%;top: 20%;height: 0;border-style: solid;border-width: 10px 0 10px 10px;z-index: 999;display: inline-block; }


@media only screen and (max-width: 1100px){
  #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 80%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 80%!important;}
  #latest_posts .directionsBtn{font-size: 80%!important; left: 14%;}
  #latest_posts .newsTickerHeadWrap{width: 100px;font-size: 70%; text-align: left; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 24%; height: 91%; bottom: 3px; height: 91%; bottom: 3px;}
}

@media only screen and (max-width: 930px){
  #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 80%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 80%!important;}
  #latest_posts .directionsBtn{font-size: 80%!important; left: 15%;}
  #latest_posts .newsTickerHeadWrap{width: 40px;font-size: 70%; text-align: center; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 24%; height: 91%; bottom: 3px;}
}

@media only screen and (max-width: 770px){
      #latest_posts ul{list-style: none;}
  #latest_posts .meta-tags a{font-size: 70%!important;}
   #latest_posts .trendingWidgetstitle{font-size: 70%!important;}
  #latest_posts .directionsBtn{display: none; font-size: 70%!important; left: 5%;}
  #latest_posts .newsTickerHeadWrap{text-indent: -99999px; min-width: 20px!important; width: 20px;font-size: 70%; text-align: center; padding-top: 12px;}
  #latest_posts #latest_posts_list{width: 100%;left: 8%; height: 91%; bottom: 3px;}
}
    
/* Decorated By https://www.allbloggertricks.com/2017/04/responsive-widget-show-latest-posts-ticker-with-labels-for-blogger.html*/ 
